source/.NET Standard/Unimake.Business.DFe/Xml/Schemas/PIX/PIXGetRequest_1_00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="PIXGetRequest">
		<xs:complexType>
			<xs:sequence>
       <xs:element name="ConfigurationId" type="xs:string" minOccurs="0"/>
				<xs:element name="StartDate">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:whiteSpace value="preserve"/>
							<xs:pattern value="(((20(([02468][048])|([13579][26]))-02-29))|(20[0-9][0-9])-((((0[1-9])|(1[0-2]))-((0[1-9])|(1\d)|(2[0-8])))|((((0[13578])|(1[02]))-31)|(((0[1,3-9])|(1[0-2]))-(29|30)))))"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="EndDate">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:whiteSpace value="preserve"/>
							<xs:pattern value="(((20(([02468][048])|([13579][26]))-02-29))|(20[0-9][0-9])-((((0[1-9])|(1[0-2]))-((0[1-9])|(1\d)|(2[0-8])))|((((0[13578])|(1[02]))-31)|(((0[1,3-9])|(1[0-2]))-(29|30)))))"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="TxId">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="[a-zA-Z0-9]{26,35}"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Testing" type="xs:boolean"/>
				<xs:element name="Beneficiario">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Inscricao">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="[0-9]{11}|[0-9]{14}"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Nome">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="100"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Conta">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Agencia" type="xs:string"/>
										<xs:element name="Numero" type="xs:string"/>
										<xs:element name="Banco" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="UseHomologServer" type="xs:boolean" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="versao">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1.00"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>