source/.NET Standard/Unimake.Business.DFe/Xml/Schemas/CIOT/declaracaoOperacaoTransporte_v1.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.antt.gov.br/ciot"
           xmlns="http://www.antt.gov.br/ciot"
           elementFormDefault="qualified">
  <xs:include schemaLocation="tiposBasicosCIOT_v1.00.xsd"/>

  <xs:element name="DeclaracaoOperacaoTransporte">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="IdOperacaoTransporte" type="TCodigoOperacao12"/>
        <xs:element name="TipoOperacao" type="TTipoOperacao"/>
        <xs:element name="CpfCnpjContratado" type="TCpfCnpj"/>
        <xs:element name="RNTRCContratado" type="TRNTRC"/>
        <xs:element name="CpfCnpjContratante" type="TCpfCnpj"/>
        <xs:element name="RNTRCContratante" type="TRNTRC" minOccurs="0"/>
        <xs:element name="CpfCnpjDestinatario" type="TCpfCnpj" minOccurs="0"/>
        <xs:element name="ValorFrete" type="TValor10v2"/>
        <xs:element name="DataDeclaracao" type="TDataHora"/>
        <xs:element name="IndContingencia" type="xs:boolean"/>
        <xs:element name="JustificativaContingencia" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
              <xs:maxLength value="255"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="DataInicioViagem" type="TData"/>
        <xs:element name="DataFimViagem" type="TData" minOccurs="0"/>
        <xs:element name="Veiculos">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Veiculo" type="TVeiculo" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="OrigemDestino" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ParOrigemDestino" type="TParOrigemDestino" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="DadosCarga" type="TDadosCarga" minOccurs="0"/>
        <xs:element name="InfPagamento">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Pagamento" type="TPagamento" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="InfIndicadoresOperacionais" type="TIndicadoresOperacionais" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="RetDeclaracaoOperacaoTransporte">
    <xs:complexType>
      <xs:choice>
        <xs:element name="temp" type="TTempErro"/>
        <xs:sequence>
          <xs:element name="IdOperacaoTransporte" type="TCodigoOperacao12"/>
          <xs:element name="CodigoVerificador">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:pattern value="[0-9]{4}"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="Protocolo" type="TProtocolo"/>
          <xs:element name="Codigo" type="TCodigoRetorno"/>
          <xs:element name="Mensagem" type="xs:string"/>
          <xs:element name="AvisoTransportador" minOccurs="0">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="300"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:choice>
    </xs:complexType>
  </xs:element>
</xs:schema>
