source/.NET Standard/Unimake.Business.DFe/Xml/Schemas/CIOT/encerramentoOperacaoTransporte_v1.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.antt.gov.br/ciot"
           xmlns="http://www.antt.gov.br/ciot"
           elementFormDefault="qualified">
  <xs:include schemaLocation="tiposBasicosCIOT_v1.00.xsd"/>

  <xs:element name="EncerramentoOperacaoTransporte">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CodigoIdentificacaoOperacao" type="TCodigoOperacao16"/>
        <xs:element name="OrigemDestino" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ParOrigemDestino" type="TParOrigemDestino" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="DadosCarga" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PesoTotalCarga" type="TValor10v2"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="RetEncerramentoOperacaoTransporte">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CodigoIdentificacaoOperacao" type="TCodigoOperacao16"/>
        <xs:element name="DataEncerramento" type="TDataHora"/>
        <xs:element name="Protocolo" type="TProtocolo"/>
        <xs:element name="Codigo" type="TCodigoRetorno"/>
        <xs:element name="Mensagem" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
