source/.NET Standard/Unimake.Business.DFe/Xml/Schemas/EBoleto/BoletoRegistrar_1_00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="BoletoRegistrar">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ConfigurationId" type="xs:string" minOccurs="1" />
				<xs:element name="Aceite" type="xs:boolean" minOccurs="0" />
				<xs:element name="AgenciaColetora" type="xs:string" minOccurs="0" />
				<xs:element name="Avalista" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Nome" type="xs:string" />
							<xs:element name="TipoInscricao">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:enumeration value="0" />
										<xs:enumeration value="1" />
										<xs:enumeration value="2" />
										<xs:enumeration value="3" />
										<xs:enumeration value="9" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Inscricao" type="xs:string" />
							<xs:element name="Endereco">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Logradouro" type="xs:string" />
										<xs:element name="Numero" type="xs:string" />
										<xs:element name="Complemento" type="xs:string" />
										<xs:element name="Bairro" type="xs:string" />
										<xs:element name="Cidade" type="xs:string" />
										<xs:element name="UF" type="xs:string" />
										<xs:element name="CEP" minOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:pattern value="\d{5}-\d{3}" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Carteira" type="xs:string" minOccurs="0" />
				<xs:element name="CodigoBarraNumerico" type="xs:string" minOccurs="0" />
				<xs:element name="Desconto" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Data" type="xs:date" />
							<xs:element name="Tipo">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:minInclusive value="0" />
										<xs:maxInclusive value="13" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Valor" type="xs:decimal" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="DiasParaBaixaOuDevolucao" type="xs:int" minOccurs="0" />
				<xs:element name="DigitoVerificadorNumeroNoBanco" type="xs:string" minOccurs="0" />
				<xs:element name="Emissao" type="xs:date" minOccurs="1" />
				<xs:element name="Especie" minOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:enumeration value="0" />
							<xs:enumeration value="1" />
							<xs:enumeration value="2" />
							<xs:enumeration value="3" />
							<xs:enumeration value="4" />
							<xs:enumeration value="5" />
							<xs:enumeration value="6" />
							<xs:enumeration value="7" />
							<xs:enumeration value="8" />
							<xs:enumeration value="9" />
							<xs:enumeration value="10" />
							<xs:enumeration value="11" />
							<xs:enumeration value="12" />
							<xs:enumeration value="13" />
							<xs:enumeration value="14" />
							<xs:enumeration value="15" />
							<xs:enumeration value="16" />
							<xs:enumeration value="17" />
							<xs:enumeration value="18" />
							<xs:enumeration value="19" />
							<xs:enumeration value="20" />
							<xs:enumeration value="21" />
							<xs:enumeration value="22" />
							<xs:enumeration value="23" />
							<xs:enumeration value="24" />
							<xs:enumeration value="25" />
							<xs:enumeration value="26" />
							<xs:enumeration value="27" />
							<xs:enumeration value="28" />
							<xs:enumeration value="29" />
							<xs:enumeration value="30" />
							<xs:enumeration value="31" />
							<xs:enumeration value="32" />
							<xs:enumeration value="43" />
							<xs:enumeration value="44" />
							<xs:enumeration value="47" />
							<xs:enumeration value="50" />
							<xs:enumeration value="54" />
							<xs:enumeration value="55" />
							<xs:enumeration value="56" />
							<xs:enumeration value="99" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="FichaAceiteConfig" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="FichaAceite" type="xs:boolean" />
							<xs:element name="Merge" type="xs:boolean" />
							<xs:element name="AceiteDetails">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Aceite" type="xs:boolean" />
										<xs:element name="AgenciaCodigoBeneficiario" type="xs:string" />
										<xs:element name="Beneficiario" type="xs:string" />
										<xs:element name="Carteira" type="xs:string" />
										<xs:element name="CodigoBanco" type="xs:int" />
										<xs:element name="DataDocumento" type="xs:date" />
										<xs:element name="DataProcessamento" type="xs:date" />
										<xs:element name="Descontos" type="xs:decimal" />
										<xs:element name="Especie" type="xs:string" />
										<xs:element name="Instrucoes">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Instrucao" type="xs:string" maxOccurs="unbounded" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="LogoBanco" type="xs:string" />
										<xs:element name="MoraMulta" type="xs:int" />
										<xs:element name="NossoNumero" type="xs:string" />
										<xs:element name="NumeroDocumento" type="xs:string" />
										<xs:element name="OutrasDeducoes" type="xs:int" />
										<xs:element name="OutrosAcrescimos" type="xs:int" />
										<xs:element name="Pagador" type="xs:string" />
										<xs:element name="RodapeDireito">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="CodigoBarras" type="xs:string" maxOccurs="unbounded" />
													<xs:element name="TextoLivre" type="xs:string" maxOccurs="unbounded" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="RodapeEsquerdo">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="CodigoBarras" type="xs:string" maxOccurs="unbounded" />
													<xs:element name="TextoLivre" type="xs:string" maxOccurs="unbounded" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Testing" type="xs:boolean" />
										<xs:element name="ValorCobrado">
											<xs:simpleType>
												<xs:restriction base="xs:decimal">
													<xs:minInclusive value="0" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ValorDocumento">
											<xs:simpleType>
												<xs:restriction base="xs:decimal">
													<xs:minInclusive value="0" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Vencimento" type="xs:date" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="IdentificacaoDistribuicao" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:enumeration value="0" />
							<xs:enumeration value="1" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="IdentificacaoEmissao" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:enumeration value="0" />
							<xs:enumeration value="1" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Juros" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Data" type="xs:date" />
							<xs:element name="Tipo">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:minInclusive value="0" />
										<xs:maxInclusive value="6" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Valor">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:minInclusive value="0" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="LinhaDigitavel" type="xs:string" minOccurs="0" />
				<xs:element name="Mensagens" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Mensagem" type="xs:string" maxOccurs="unbounded" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="MensagensRecibo" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Mensagem" type="xs:string" maxOccurs="unbounded" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Multa" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Data" type="xs:date" />
							<xs:element name="Tipo">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:minInclusive value="0" />
										<xs:maxInclusive value="3" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Valor" type="xs:decimal" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="NumeroDiasLimiteRecebimento" type="xs:int" minOccurs="0" />
				<xs:element name="NumeroNaEmpresa" type="xs:string" minOccurs="0" />
				<xs:element name="NumeroNoBanco" type="xs:string" minOccurs="0" />
				<xs:element name="NumeroParcela" type="xs:int" minOccurs="0" />
				<xs:element name="NumeroVariacaoCarteira" type="xs:int" minOccurs="0" />
				<xs:element name="Pagador" minOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Nome" type="xs:string" minOccurs="1" />
							<xs:element name="Inscricao" type="xs:string" minOccurs="1" />
							<xs:element name="TipoInscricao" minOccurs="1">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:enumeration value="0" />
										<xs:enumeration value="1" />
										<xs:enumeration value="2" />
										<xs:enumeration value="3" />
										<xs:enumeration value="9" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Codigo" type="xs:string" minOccurs="0" />
							<xs:element name="Email" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="[^@]+@[^@]+\.[a-zA-Z]{2,}" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Telefone" type="xs:string" minOccurs="0" />
							<xs:element name="Endereco" minOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Logradouro" type="xs:string" minOccurs="1" />
										<xs:element name="Numero" type="xs:string" minOccurs="1" />
										<xs:element name="Complemento" type="xs:string" />
										<xs:element name="Bairro" type="xs:string" minOccurs="1" />
										<xs:element name="Cidade" type="xs:string" minOccurs="1" />
										<xs:element name="UF" minOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="2" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CEP" minOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:pattern value="\d{5}-\d{3}" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="PDFConfig" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Password" type="xs:string" minOccurs="0" />
							<xs:element name="PermitAnnotations" type="xs:boolean" minOccurs="0" />
							<xs:element name="PermitAssembleDocument" type="xs:boolean" minOccurs="0" />
							<xs:element name="PermitExtractContent" type="xs:boolean" minOccurs="0" />
							<xs:element name="PermitFormsFill" type="xs:boolean" minOccurs="0" />
							<xs:element name="PermitFullQualityPrint" type="xs:boolean" minOccurs="0" />
							<xs:element name="PermitModifyDocument" type="xs:boolean" minOccurs="0" />
							<xs:element name="PermitPrint" type="xs:boolean" minOccurs="0" />
							<xs:element name="SignPDF" type="xs:boolean" minOccurs="0" />
							<xs:element name="TryGeneratePDF" type="xs:boolean" minOccurs="0" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="PermiteRecebimentoParcial" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="S" />
							<xs:enumeration value="N" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PixConfig" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Chave" type="xs:string" minOccurs="0" />
							<xs:element name="QrCodeConfig" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Height" type="xs:int" />
										<xs:element name="ImageFormat">
											<xs:simpleType>
												<xs:restriction base="xs:int">
													<xs:minInclusive value="0" />
													<xs:maxInclusive value="3" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Quality" type="xs:int" />
										<xs:element name="Width" type="xs:int" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="RegistrarPIX" type="xs:boolean" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Protesto" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Tipo">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:minInclusive value="1" />
										<xs:maxInclusive value="9" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Valor">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:minInclusive value="0" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Testing" type="xs:boolean" minOccurs="0" />
				<xs:element name="TipoBaixaDevolucao" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:enumeration value="1" />
							<xs:enumeration value="2" />
							<xs:enumeration value="3" />
							<xs:enumeration value="9" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ValorAbatimento" type="xs:decimal" minOccurs="0" />
				<xs:element name="ValorIOF" type="xs:decimal" minOccurs="0" />
				<xs:element name="ValorNominal" type="xs:decimal" minOccurs="1" />
				<xs:element name="Vencimento" type="xs:date" minOccurs="1" />
				<xs:element name="UseHomologServer" type="xs:boolean" minOccurs="0" />
			</xs:sequence>
			<xs:attribute name="versao">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1.00" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
