source/.NET Standard/Unimake.Business.DFe/Xml/Schemas/EBoleto/BoletoInformarPagto_1_00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="BoletoInformarPagto">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ConfigurationId" type="xs:string"/>
				<xs:element name="NumeroNoBanco" type="xs:string"/>
				<xs:element name="Testing" type="xs:boolean" minOccurs="0"/>
				<xs:element name="UseHomologServer" type="xs:boolean" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="versao">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1.00"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>