source/.NET Standard/Unimake.Business.DFe/Xml/Schemas/NFSe/CECAM/XSDConsultaItensAtividade.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="ConsultaItensAtividade">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Header" minOccurs="1" maxOccurs="1">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CPFCNPJRequisitante">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength fixed="true" value="11"></xsd:minLength>
                    <xsd:maxLength fixed="true" value="14"></xsd:maxLength>
                  </xsd:restriction>
                </xsd:simpleType>
			  </xsd:element>
             <xsd:element name="Chave">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:length value="48"></xsd:length>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ParametrosPesquisa" minOccurs="1" maxOccurs="1">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CodigoServico" type="xsd:string" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>