source/.NET Standard/Unimake.Business.DFe/Xml/Schemas/NFe/nfceListagemChaves_100.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.portalfiscal.inf.br/nfe" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://www.portalfiscal.inf.br/nfe" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:element name="nfceListagemChaves">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="tpAmb" minOccurs="1" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:minInclusive value="0"/>
              <xs:maxInclusive value="9"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="dataHoraInicial" minOccurs="1" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="(((20(([02468][048])|([13579][26]))-02-29))|(20[0-9][0-9])-((((0[1-9])|(1[0-2]))-((0[1-9])|(1\d)|(2[0-8])))|((((0[13578])|(1[02]))-31)|(((0[1,3-9])|(1[0-2]))-(29|30)))))T(([0-1][0-9])|([2][0-3])):([0-5][0-9])"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="dataHoraFinal" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="(((20(([02468][048])|([13579][26]))-02-29))|(20[0-9][0-9])-((((0[1-9])|(1[0-2]))-((0[1-9])|(1\d)|(2[0-8])))|((((0[13578])|(1[02]))-31)|(((0[1,3-9])|(1[0-2]))-(29|30)))))T(([0-1][0-9])|([2][0-3])):([0-5][0-9])"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="versao">
	   <xs:simpleType>
              <xs:restriction base="xs:string">
                 <xs:pattern value="[0-9]{1}[.][0-9]{0,2}"/>
              </xs:restriction>
	   </xs:simpleType>
	</xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>